.top-panel {
    height: 58px;
    background-color: #000000;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding: 0 15px;
}

.top-panel__container {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.top-panel__link {
    margin-right: 15px;

    &:hover {
        color: $hoverColor;
    }

    i {
        margin-right: 5px;
    }
}